.car-container {
	display: flex;
	flex-direction: column;
	gap: 18px;
	width: 100%;
	border: 3px dashed #ffba00;
	border-radius: 14px;
	background: black;
	box-shadow: 0 4px 10px rgb(0 0 0 / 90%);
	padding: 20px 0 20px 0;
}

.select-container {
	display: flex;
	gap: 20px;
	align-items: center;
	
	padding: 0 0 0 40px;
}

.road-container {
	display: flex;
	position: relative;
	width: 100%;
	height: 100px;
	border-bottom: 5px dashed #ffba00;
	padding: 0 0 0 38px;
	align-items: center;
	gap: 20px;
	overflow: hidden;
}

.start-race {
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: #2a313200;
	background-image: url('../../../assets/straight.svg');
	background-position: center;
	background-size: contain;
}

.start-race:hover {
	transform: scale(1.05);
}

.start-race:disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.start-race.stop-race {
	background-image: url('../../../assets/back.svg');
}

.car {
	position: absolute;
	left: 140px;
	top: 50%;
	transform: translateY(-50%);
}

.car-name {
	display: flex;
	align-items: center;
	white-space: nowrap;
	font-family: "Audiowide", sans-serif;
	font-size: 22px;
  font-weight: 400;
  font-style: normal;
	color: white;
}

.finish {
	width: 80px;
	height: 80px;
	background: #2a313200;
	background-image: url('../../../assets/finish-flag-location-svgrepo-com.svg');
	background-position: center;
	background-size: contain;
	position: absolute;
	right: 40px;
	top: 50%;
	transform: translateY(-50%);
}
