.winners {
	display: flex ;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}


.winners-header {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 60px;
	width: 800px;
	
	border: 5px dashed #ffba00;
	background-color: black;
	border-radius: 18px;
	margin: 40px 0 0 0;
	padding: 20px 20px 20px 20px;
}

.span-title {
	display: flex;
	width: 100px;
	justify-content: center;
	align-items: center;
	font-family: "Audiowide", sans-serif;
	font-size: 26px;
  font-weight: 400;
  font-style: normal;
  color: #ffba00;
}

.winner-button {
	cursor: pointer;

  width: 120px;
  height: 64px;
  border: 4px dashed #ffba00;
  border-radius: 18px;

  font-family: "Audiowide", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: #ffba00;

  background-color: black;
  box-shadow: 0 4px 10px rgb(0 0 0 / 90%);

  transition: all 0.3s ease-in-out;
  padding: 0 10px 0 10px;
}

.winner-button:hover {
  transform: scale(1.05);
  background: #ffba00;
  color: black;
}

.winner-button:active {
  background: #ffba00;
}

.winner-button:disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

@media (min-width: 498px) and (max-width: 1077px) {
	.winners-header {
		width: 80%;
	}
 
 }