.modal-dialog {
   position: fixed;
   z-index: 1000;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 
   width: 700px;
   height: 400px;
   border: 5px dashed #ffba00;
   border-radius: 14px;
 
   text-align: center;
 
   background: black;
   box-shadow: 0 4px 10px rgb(0 0 0 / 90%);
 }
 
 .modal-content {
   display: flex;
   flex-direction: column;
   gap: 10px;
   align-items: center;
   justify-content: center;
 
   width: 90%;
   height: 90%;
 
   text-align: center;
  }

  .modal-title-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 0 0 20px 0;
  }
 
 .modal-text {
   display: flex;
   justify-content: center;
   align-items: center;
 
   height: 50%;
 
   font-family: "Audiowide", sans-serif;
   font-size: 24px;
  font-weight: 400;
  font-style: normal;
   color: #ffba00;
   text-align: center;
   white-space: wrap;
  }

 .btn-container {
  display: flex;
  align-items: center;
 }

 .option-button {
  cursor: pointer;

  width: 300px;
  height: 50px;
  border: 3px dashed #ffba00;
  border-radius: 18px;

  font-family: "Audiowide", sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #ffba00;

  background-color: black;
  box-shadow: 0 4px 10px rgb(0 0 0 / 90%);

  transition: all 0.3s ease-in-out;
}

.option-button:hover {
  transform: scale(1.05);
  background: #ffba00;
  border: 4px dashed black;
  color: black;
}

.option-button:active {
  background: #ffba00;
}

.option-button:disabled {
  pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

@media (min-width: 498px) and (max-width: 1077px) {
  .option-button {
    width: 100px;
    font-size: 14px;
  }
}