.car-create-container {
	display: flex;
	width: 70%;
	justify-content: center;
	gap: 24px;
}

.update-button {
	cursor: pointer;
	width: 400px;
	height: 50px;
	border: 4px dashed #ffba00;
	border-radius: 18px;
	font-family: "Audiowide", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	color: #ffba00;
	background-color: black;
	box-shadow: 0 4px 10px rgb(0 0 0 / 90%);
	transition: all 0.3s ease-in-out;
}

.update-button:hover {
	transform: scale(1.05);
	background: #ffba00;
	color: black;
	border: 4px dashed black;
}

.update-button:active {
	background: #ffba00;
}

.update-button:disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 500px;
	height: 50px;
	border: 4px solid #ffba00;
	border-radius: 14px;
	font-family: "Audiowide", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	color: #ffba00;
	text-align: center;
	white-space: wrap;
	background: black;
	box-shadow: 0 4px 10px rgb(0 0 0 / 90%);
}

input[type='number']::-webkit-outer-spin-button, input[type='number']::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
}

.input:disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

.color {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 50px;
	border: 5px solid black;
	border-radius: 14px;
	background: rgb(0, 0, 0);
	box-shadow: 0 4px 10px rgb(0 0 0 / 90%);
}

.color:disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: 0.5;
}

@media (min-width:498px) and (max-width:1077px) {
	.car-create-container {
		width: 90%;
	}

	.color {
		width: 80px;
	}

	.input {
		width: 200px;
	}
}